/*
================================================================================
|                                     reset                                     |
================================================================================
*/
body {
  margin: 0px;
  padding: 0px;
  font-family: Tahoma,Arial, sans-serif;
  background-color: #FFFFFF;
  height: 100%;
  position: relative;
  font-size: 13px !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*MAIN*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer,
header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-width: 0px;
  padding: 0px;
  margin: 0px;
}

html {
  height: 100%;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
}

input, textarea {
  color: #333;
  outline: none;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -webkit-appearance: none;
}

input[type="button"], input[type="submit"], button {
  cursor: pointer;
}

td {
  margin: 0px;
  padding: 0px;
}

form {
  padding: 0px;
  margin: 0px;
}

a {
  color: #000100;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  text-decoration: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
}

input[type=submit], input[type=button], button {
  -webkit-appearance: none;
  outline: none;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix:after,
.wrapper:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/*
================================================================================
|                                     MAIN STYLE                               |
================================================================================
*/
.wrapper {
  min-width: 320px;
  max-width: 1280px;
  margin: 0 auto;
  position: relative;
  font-family: "Catamaran";
}

/*
================================================================================
|                                     HEADER                                   |
================================================================================
*/
/*
================================================================================
|                                     MAIN                                     |
================================================================================
*/
.content {
  padding-top: 50px;
}

.tab {
  padding-bottom: 10px;
  margin-bottom: 15px;
  border-bottom: 1px dotted #999;
}
.tab__item {
  display: inline-block;
  font-weight: 600;
  color: #999;
  font-size: 16px;
  padding-right: 16px;
}
.tab__item_active {
  color: #11b3eb;
}
.tab__item:hover {
  color: #11b3eb;
}

.news {
  display: inline-block;
  max-width: 800px;
  margin-right: 49px;
}

.post {
  height: 143px;
  clear: both;
  position: relative;
}
.post__img {
  padding-right: 21px;
  padding-bottom: 20px;
  float: left;
}
.post__date {
  font-weight: 300;
  padding-right: 4px;
  border-right: 1px solid #999;
  color: #999;
  font-size: 13px;
}
.post__categories {
  font-weight: 300;
  color: #999;
  font-size: 13px;
}
.post__title {
  font-weight: 600;
  padding: 7px 0 5px;
  font-size: 21px;
}
.post__text {
  font-weight: 300;
  font-size: 13px;
  line-height: 21px;
}
.post__view {
  color: #999;
  position: absolute;
  right: 0;
}
.post__detail {
  position: absolute;
  bottom: 14px;
  font-weight: 600;
  color: #11b3eb;
}

.right-column {
  display: inline-block;
  max-width: 427px;
  vertical-align: top;
}

.videos__title {
  padding-bottom: 10px;
  margin-bottom: 15px;
  border-bottom: 1px dotted #999;
  color: #11b3eb;
}
.videos__name {
  padding-top: 13px;
  font-size: 16px;
  font-weight: 600;
}
.videos__slide {
  max-width: 203px;
  display: inline-block;
}

.banner {
  width: 427px;
  height: 128px;
  position: relative;
}

/*
================================================================================
|                                     FOOTER                                   |
================================================================================
*/
