@import "reset";

/*
================================================================================
|                                     MAIN STYLE                               |
================================================================================
*/

.wrapper {
  min-width: 320px;
  max-width: 1280px;
  margin: 0 auto;
  position: relative;
}

/*
================================================================================
|                                     HEADER                                   |
================================================================================
*/

/*
================================================================================
|                                     MAIN                                     |
================================================================================
*/

.news {
  display: inline-block;
  max-width: 800px;
  margin-right: 49px;
  &__img {
    float: left;
  }
  &__post {
    clear: both;
    position: relative;
  }
  &__view {
    position: absolute;
    right: 0;
  }
}
.tab__item {
  display: inline-block;
}
.right-column {
  display: inline-block;
  max-width: 427px;
  vertical-align: top;
}
.videos {
  &__slide {
    max-width: 203px;
    display: inline-block;
  }
}

/*
================================================================================
|                                     FOOTER                                   |
================================================================================
*/